.swiper {
  user-select: none;
  width: 100vw;
  height: 600px;
}

.swiper_slide {
  background-position: center;
  background-size: cover;
  top: -200px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
@media (max-width: 1300px) {
  .swiper_slide {
    top: -30px;
  }
  .swiper {
    user-select: none;
    width: 100vw;
    height: 450px;
  }
}
