.swiper {
  user-select: none;
  width: 100vw;
  height: 600px;
}

.swiper_slide {
  background-position: center;
  background-size: cover;
  top: -200px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
@media (max-width: 1600px) {
  .swiper_slide {
    top: -30px;
  }
  .swiper {
    user-select: none;
    width: 100vw;
    height: 450px;
  }
}
@media (max-width: 960px) {
  .swiper_slide {
    top: 20px;
  }
  .swiper {
    user-select: none;
    width: 100vw;
    height: 450px;
  }
}
@media (max-width: 900px) {
  .swiper_slide {
    width: 100vw;
    top: 0px;
  }
  .swiper {
    user-select: none;
    width: 100vw;
  }
}
@media (max-width: 500px) {
  .swiper_slide {
    top: 0px;
  }
  .swiper {
    user-select: none;
    width: 100vw;
    height: 240px;
  }
}
@media (max-width: 400px) {
  .swiper_slide {
    top: 0px;
  }
  .swiper {
    user-select: none;
    width: 100vw;
    height: 170px;
  }
}
