.swiper {
  user-select: none;
  width: 100vw;
  height: 600px;
}

.swiper_slide {
  background-position: center;
  background-size: cover;
  top: -200px;
}

.swiper-slide img {
  display: block;
  width: 100%;
}
@media (max-width: 1680px) {
  .swiper_slide {
    top: -50px;
  }
  .swiper {
    width: 100vw;
    height: 560px;
  }
}
@media (max-width: 1400px) {
  .swiper_slide {
    top: -50px;
  }
  .swiper {
    width: 100vw;
    height: 500px;
  }
}
@media (max-width: 1170px) {
  .swiper_slide {
    top: 20px;
  }
  .swiper {
    user-select: none;
    width: 100vw;
    height: 450px;
  }
}
@media (max-width: 900px) {
  .swiper_slide {
    top: 0px;
  }
}
@media (max-width: 800px) {
  .swiper {
    width: 100vw;
    height: 350px;
  }
}
@media (max-width: 580px) {
  .swiper {
    height: 240px;
  }
}
@media (max-width: 400px) {
  .swiper_slide {
    top: 0px;
  }
  .swiper {
    user-select: none;
    width: 100vw;
    height: 170px;
  }
}
