.main {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(254, 255, 255);
  z-index: 30;
  box-shadow: 0px 0px 15px #0059a271;
  padding-top: 30px;
  overflow: auto;
  height: 100vh;
  top: 0px;
  min-width: 900px;
  left: 50%;
  transform: translate(-50%, 0);
}
.novBnov {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.novB {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.button_box {
  align-items: center;
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: space-between;
  border: 0.1px solid #00000088;
  /* border: 3px solid; */
}
.button_box > * {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.button3 {
  width: 40px;
  background-color: rgb(236, 238, 241);
}
.button1 {
  background-color: rgb(241, 240, 240);
}
.button3,
.button1 {
  font-size: 16px; /* Это значение размера шрифта может вызывать проблему */
  width: 40px;
  cursor: pointer;
  user-select: none;
}
.bas_ralac {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  margin: 20px 0px 0px 0px;
  width: 95%;
}
.button2 {
  width: 50px;
}
.swiper_slide {
  height: 55px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6px 0px 0px 0px;
  border: 1px solid #000;

  position: relative;
  padding: 4px;
  font-size: 14px;
}

.image_box {
  height: 100%;
  width: 70px;
}
.main1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  top: 30px;

  position: absolute;
}

.text {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: space-between;
  padding-right: 3%;
}
.priceB {
  width: 20%;
  font-weight: 600;
  font-size: 18px;
  white-space: nowrap;
}
.name {
  width: 80%;
}
.number_box,
.price_boxB {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 15%;
  font-size: 18px;
  font-weight: 600;
  white-space: nowrap;
}
.price_boxB {
  position: relative;
  width: 20%;
}
.h1nov {
  font-weight: 900;
  font-size: 40px;
  color: rgb(58, 103, 200);

  margin: 0px 0px 50px 0px;
}
/* absolute price_box_h1 */
.price_box_h1 {
  position: absolute;
  top: -20px;
  right: 80px;
}
.number_text {
  top: -20px;
  position: absolute;
  right: 180px;
}
.number_textP {
  top: -20px;
  position: absolute;
  right: 330px;
}
.number_textN {
  top: -20px;
  left: 260px;
  position: absolute;
}

.h1 {
  font-size: 24px;
  font-weight: 700;
  position: absolute;
  top: -30px;
  left: 30px;
}
.x {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.dustbin {
  position: absolute;
  right: 5px;
  color: rgba(0, 0, 0, 0);
  cursor: pointer;
  top: 50%;
  right: 1%;
  transform: translate(-2%, -50%);
}
.swiper_slide:hover .dustbin {
  color: #000000;
}
/* absolute */
/* issue_box */
.issue_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 95%;
  height: 120px;
  border: 1px solid #000;
  margin: 10px 0px 0px 0px;
  font-size: 18px;
}
.issue_come {
  display: flex;
  gap: 20px;
  cursor: pointer;
}
.issue_price_span {
  font-weight: 700;
}
.issue_price {
  display: flex;
  gap: 10px;
}
.issue_total {
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.issue_order {
  height: 35px;
  background-color: rgb(58, 103, 200);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
.issue_order:hover {
  color: #8f8d8d;
  text-shadow: 3px 3px 4px rgba(204, 20, 20, 0.5);
}
/* issue_box and*/
/* KKKKKKKKKKKKKKKKKKK n*/
.box {
  width: 70%;
  height: max-content;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  padding: 20px;
  margin: 0px 0px 20px 0px;
}
.box_h4 {
  width: 100%;
  height: 30px;
}

.box_сontacts {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}
.tel_box {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 2px 15px 15px 15px;
}
.box_h3 {
  width: 100%;
  padding: 15px;
  overflow: hidden;
  position: relative;
  justify-content: center;
  display: flex;
  align-items: center;
}
.h3_dox {
  z-index: 2;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  gap: 3px;
}
.box_h3::after {
  content: "";
  height: 1px;
  background: #120000;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 95%;
  z-index: 1;
}

.form_сontacts {
  width: 100%;
  padding: 0 15px 15px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.textarea,
.phone,
.email,
.name2,
.name1 {
  width: 49%;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}
.name3 {
  height: 30px;
  width: 100%;
  padding-left: 5px;
  padding-right: 5px;
}
.form_сontacts > *:not(:last-child) {
  margin: 0px 0px 20px 0px;
}
.form_delivery .name1 {
  width: 100%;
}
.form_delivery .name2 {
  width: 100%;
}
.textarea {
  width: 100%;
  height: 70px;
  padding: 5px;
}
.form_delivery_text {
  font-size: 14px;
}
.form_delivery .button_delivery {
  width: max-content;
  font-size: 16px;
  cursor: pointer;
  background-color: #df9e9e;
  height: 30px;
  display: flex;
  align-items: center;
}
.price_span {
  font-size: 18px;
  font-weight: 600;
}
.form_delivery {
  display: flex;
  flex-direction: column;
}
.error {
  font-weight: 700;
  font-size: 12px;
  position: absolute;
  color: #e11212;
}
.error1 {
  left: 15px;
  top: 32px;
}
.error2 {
  right: 15px;
  top: 32px;
}
.error3 {
  left: 15px;
  top: 82px;
}
.error4 {
  right: 15px;
  top: 82px;
}
.error5 {
  left: 15px;
  top: 86px;
}
.error6 {
  left: 15px;
  top: 137px;
}
.issue_or {
  width: 300px;
}
.price_spanB {
  margin: 0px 0px 0px 5px;
}
/* оплата */
.fieldset_box {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  width: 100%;
}
/* оплата */
.coment {
  margin: 5px 3px 6px 5px;
  font-size: 10px;
}
.fieldset {
  position: relative;
  font-size: 14px;
  height: 30px;
  padding: 2px;
  overflow: hidden;
  transition: height 2s;
}
.fieldset_true {
  height: 180px;
}
.fieldset1 {
  position: relative;
  font-size: 14px;
  height: 55px;
  padding: 2px;
  overflow: hidden;
  transition: height 2s;
}
.fieldset1_true {
  height: 250px;
}
.fieldset_input1 {
  width: 100%;
  gap: 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
.iconCt {
  position: absolute;
  top: 4px;
  right: 10px;
  cursor: pointer;
  z-index: 100;
  height: 30px;
  width: 30px;
  padding-left: 15px;
}
.iconCt1 {
  position: absolute;
  top: 15px;
  right: 10px;
  cursor: pointer;
  z-index: 100;
  height: 30px;
  width: 30px;
  padding-left: 15px;
}
.fieldset_input {
  width: 15px;
  height: 15px;
  margin: 2px 6px 2px 6px;
}
.fieldset_input_text {
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 0px;
  justify-content: start;
}

/* пош нова */
.nov_box {
  width: 100%;
  margin: 20px 0px 20px 0px;
}
.nov_box_input_poick {
  position: absolute;
  width: 95%;
  top: 80px;
  left: 15;
  background-color: rgb(246, 246, 250);
  z-index: 30;
}
.nov_box_input_poick_map {
  cursor: pointer;
  margin: 3px 10px 3px 10px;
}
.nov_box_input_poick_map:hover {
  color: #1469df;
}
.nov_box_inputg {
}
.nov_box_input {
  position: relative;
}
.nov_box_input {
  width: 100%;
  height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}

.nov_icon {
  min-width: 100%;
  max-width: 100%;
  max-height: 30px;
  padding-left: 5px;
  padding-right: 5px;
}
.nov_icon3 {
  min-width: 100%;
  max-width: 100%;
  max-height: 50px;
  padding-left: 5px;
  padding-right: 5px;
}
.nov_icon1 {
  width: 100%;
  max-width: 100%;
  margin: 20px 0px 20px 0px;
  height: 30px;
}
/* пош нова and */
@media (max-width: 1430px) {
  .dustbin {
    color: rgb(0, 0, 0);
  }
}
@media (max-width: 950px) {
  .dustbin {
    right: 1px;
  }
  .main {
    width: 90vw;
  }
  .box {
    width: 100%;
    margin: 2px 0px 0px 0px;
  }
  .textarea,
  .phone,
  .email,
  .name2,
  .name1 {
    width: 100%;
  }
}
@media (max-width: 850px) {
  .image_box {
    height: 100%;
    width: 100px;
  }
  .main {
    min-width: 100vw;
  }
  .dustbin {
    top: 80%;

    transform: translate(-2%, -50%);
  }
}
@media (max-width: 768px) {
  .name {
    font-size: 12px;
    width: 50%;
  }
  .image_box {
    height: 100%;
    width: 60px;
  }
  .swiper_slide {
    height: 75px;
  }
  .number_box {
    width: 25%;
  }
  .priceB {
    padding-right: 5px;
    margin: 0px 5px 0px 0px;
    width: 25%;
  }
  .number_textN {
    left: 140px;
  }
  .price_box_h1 {
    right: 20px;
  }
  .number_text {
    right: 120px;
  }
  .number_textP {
    right: 290px;
  }
}
@media (max-width: 650px) {
  .issue_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    height: 160px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .name {
    font-size: 12px;
    width: 70%;
  }
  .image_box {
    height: 100%;
    width: 60px;
  }
  .swiper_slide {
    height: 80px;
  }
  .number_box {
    width: 25%;
  }
  .priceB {
    padding-right: 15px;
    margin: 0px 5px 0px 0px;
    width: 35%;
  }
  .number_textP {
    right: 240px;
  }
}
@media (max-width: 550px) {
  .text {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    padding: 2px;
  }
  .swiper_slide {
    flex-direction: column;
    height: auto;
  }
  .image_box {
    height: 50px;
    width: 50px;
  }
  .tel_box {
    flex-direction: column;
  }

  .name {
    font-size: 12px;
    width: 100%;

    margin: 0px 0px 0px 0px;
  }

  .price_box_h1,
  .number_text,
  .number_textP,
  .number_textN {
    display: none;
  }
}

@media (max-width: 420px) {
  .issue_order {
    font-size: 12px;
    width: 220px;
  }
  .fieldset1 {
    position: relative;
    font-size: 14px;
    height: 80px;
    padding: 2px;
    overflow: hidden;
    transition: height 2s;
  }
  .fieldset1_true {
    height: 350px;
  }
}

/* KKKKKKKKKKKKKKKKKKK */
