.main {
  display: flex;
  flex-direction: column;
  padding: 1px;
  align-items: center;
  min-height: 100vh;
  width: 95vw;
}
.name {
  font-size: 24px;
  font-weight: 600;
}
.img_box {
  display: flex;
  justify-content: center;
  max-height: 500px;
  min-height: 400px;
  overflow: hidden;
  margin: 0px 0px 15px 0px;
  cursor: pointer;
}
.img_box {
  display: flex;
  justify-content: center;
  max-height: 700px;
  min-width: 80vh;
  overflow: hidden;
  margin: 0px 0px 15px 0px;
  cursor: pointer;
}

.dustbinI {
  position: absolute;
  top: 75%;
  left: 30px;
  transform: translate(-1%, -50%);
}
.link_box {
  font-size: 16px;
  width: 60%;
  margin: 0px 0px 15px 0px;

  display: flex;
  flex-direction: column;
}

/* price_box */

.shopping {
  cursor: pointer;
}
/* ---- */
/* slide_box */
.slide_box {
  display: flex;
}
/* slide_box and */
/* description_box */
.description_box {
  border: 0.2px solid #1d71d28e;
  padding: 5px;
}
.description_h1 {
  border-bottom: 0.2px solid #1d71d28e;
  padding: 5px;
  font-weight: 500;
}
.description {
  padding: 5px;
}
/* description_box and */
/* price_box */
.price_box {
  margin: 30px 0px 0px 0px;
  width: 40%;
}
.price_box_pbox {
  border: 0.2px solid #1d71d28e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.price {
  font-size: 18px;
  font-weight: 600;
}

.characteristics_box {
  border: 0.2px solid #1d71d28e;
  margin: 30px 0px 0px 0px;
}
.characteristics_h1 {
  display: flex;
  align-items: center;
  border-bottom: 0.2px solid #1d71d28e;
  padding: 20px;
}
.country_box {
  display: flex;
  align-items: center;

  padding: 20px;
  gap: 30px;
}
.country_h1 {
}
.country {
}
/* price_box and */
