.main {
  display: flex;
  flex-direction: column;
  padding: 1px;
  align-items: center;
  min-height: 100vh;
  width: 95%;
}
.auto {
  position: fixed;
  width: 100vw;
  height: 130vh;
  background-color: transparent;
  top: 0px;
  left: 0px;
  z-index: 2;
}
.name {
  font-size: 24px;
  font-weight: 600;
}
.img_box {
  display: flex;
  justify-content: center;
  max-height: 430px;
  min-height: 420px;
  overflow: hidden;
  margin: 10px 0px 15px 0px;
  cursor: pointer;
  margin: 5px 0px 10px 0px;
}
.img_box_fals {
  display: flex;
  justify-content: center;
  max-height: 80vh;
  min-height: 80vh;
  min-width: 95vh;
  overflow: hidden;
  margin: 0px 0px 15px 0px;
  cursor: pointer;
}

.dustbinI {
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-1%, -50%);
  cursor: pointer;
}
.link_box {
  font-size: 16px;
  width: 60%;
  margin: 0px 0px 15px 0px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}
.link_box_fels {
  width: 90%;
  margin: 0px 0px 15px 0px;
  justify-content: center;
  display: flex;
}

/* price_box */

.shopping {
  cursor: pointer;
}
/* ---- */
/* slide_box */
.slide_box {
  display: flex;
}
/* slide_box and */
/* description_box */
.description_box {
  border: 0.2px solid #1d71d28e;
  padding: 5px;
  margin: 20px 0px 0px 0px;
}
.description_h1 {
  border-bottom: 0.2px solid #1d71d28e;
  padding: 5px;
  font-weight: 500;
}
.description {
  padding: 5px;
}
/* description_box and */
/* price_box */
.price_box {
  margin: 30px 0px 0px 0px;
  width: 40%;
}
.price_box_pbox {
  border: 0.2px solid #1d71d28e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.price {
  font-size: 18px;
  font-weight: 600;
}

.characteristics_box {
  border: 0.2px solid #1d71d28e;
  margin: 30px 0px 0px 0px;
}
.characteristics_h1 {
  display: flex;
  align-items: center;
  border-bottom: 0.2px solid #1d71d28e;
  padding: 20px;
}
.country_box {
  display: flex;
  align-items: center;

  padding: 20px;
  gap: 30px;
}
.country_h1 {
}
.country {
}
/* price_box and */
/* cord */
.main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  min-height: 100vh;
  width: 95vw;
  /* overflow: hidden; */
}
.now {
  background: #0058a2;
  color: white;
  padding: 7px;
  font-size: 24px;
  margin: 0px 0px 50px 0px;
}
.img_box2 {
  max-width: 100%;
  width: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 250px;
  margin: 0px 0px 15px 0px;
}

.link_box2 {
  font-size: 14px;
  margin: 0px 0px 15px 0px;
}

.text_botom_box2 {
  margin: 30px 0px 0px 0px;
}
.text_box2 {
  height: 57px;
}

.price_box2 {
  display: flex;
  justify-content: space-around;
}

.swiper_slide2 {
  background-position: center;
  background-size: cover;
  padding-left: 5px;
  width: 250px;
  height: 455px;
  margin: 2px 10px 10px 10px;
}

.swiper_slide2:hover {
  box-shadow: 2px 0px 15px #0059a271;
}
.text_box_price2 {
  font-size: 18px;
  font-weight: 700;
}

.main_h1_box2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 5px;
  width: 100%;
}
.main_h22 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.main_p_box2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.reflection_box2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.reflection_icon2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.main_h12 {
  font-size: 24px;
  font-weight: 700;
  gap: 20px;
}
.box2 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.box_right2 {
  width: 80%;
}
.text_botom_box2 {
  font-size: 14px;
}

.right_goods_box2 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 30px 0px 0px 0px;
}

.right_h12 {
  display: flex;
  justify-content: space-between;
  padding: 0 2% 1px 20%;
}
.right_hh2 {
  display: flex;
  justify-content: space-between;
  gap: 80px;
}
.price_box_cl2 {
  display: flex;
  justify-content: space-between;
}
.slider2 {
  width: 160px;
}
.box_slider2 {
  width: 170px;
}
.slider_el2 {
  width: 160px;
  background-color: #2c57f6;
}
.shopping2 {
  cursor: pointer;
}
/* cord and */
.header_auto {
  position: absolute;
  width: 1100px;
  height: 70px;
  top: 0;
}
.FaShoppingCart {
  position: absolute;
  top: 22px;
  right: 10px;
  color: rgb(249, 251, 253);
}
.FaShoppingCart:hover {
  cursor: pointer;
  color: rgb(7, 40, 74);
}
.auto {
  position: fixed;
  width: 100vw;
  height: 130vh;
  background-color: transparent;
  top: 0px;
  left: 0px;
  z-index: 2;
}
@media (max-width: 1100px) {
  .header_auto {
    position: absolute;
    width: 1100px;
  }
}
