.container {
  width: 100%;
  /* break-inside: avoid-column; */
  top: 70px;
  position: absolute;
  background: white;
  padding: 50px 20px 20px 20px;
  color: rgb(8, 0, 0);
  z-index: 100;
  box-shadow: #000000;
  display: flex;
  overflow: auto;
  overflow-x: auto;
  height: 60vh;
  box-shadow: 2px 0px 15px #0059a271;
}
.component_mas_elem_text {
  margin: 4px 0px 0px 0px;
}

.component_name_box {
  display: flex;
  gap: 5px;
  font-size: 14px;
  font-weight: 600;
}
.component_name_b {
  cursor: pointer;
}
.component_box {
  /* flex-shrink: 0; */
  width: 250px;
  margin: 0px 0px 10px 0px;
}

.component_mas_elem_text:hover {
  color: #250ba6;
  font-weight: 600;
}
.component_mas_elem_text {
  font-size: 14px;
}
.a {
  left: -10%;

  flex-wrap: wrap;
  justify-content: start;
  height: 430px;
  overflow-x: hidden;
}
.b {
  position: absolute;
  width: 95vw;
  height: 83vh;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: auto;
  left: 50%;
  transform: translate(-55%, 0%);
}

.c {
  position: absolute;
  width: 95vw;
  height: 83vh;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: auto;
  left: 50%;
  transform: translate(-55%, 0%);
}

.d {
  position: absolute;
  width: 60vw;
  height: 83vh;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: auto;
  left: 50%;
  transform: translate(-55%, 0%);
}
.f {
  position: absolute;
  width: 80vw;
  height: 83vh;
  flex-direction: column;
  flex-wrap: wrap;
  overflow-x: auto;
  left: 50%;
  transform: translate(-55%, 0%);
}
.g {
  left: 50%;
  transform: translate(-55%, 0%);
  width: auto;
}
.o {
  right: -60px;
  flex-direction: column;
  justify-content: start;
  height: 200px;
  width: auto;
}
.x {
  position: absolute;
  color: #00000000;
}

@media (max-width: 1440px) {
  .f {
    height: 75vh;
    overflow-x: auto;
    width: 90vw;
  }
  .b {
    height: 75vh;
    overflow-x: auto;
  }
  .c {
    height: 75vh;
    overflow-x: auto;
  }
  .d {
    height: 80vh;
    overflow-x: auto;
    width: 90vw;
  }
  .g {
    left: 50%;
    height: 75vh;
    transform: translate(-55%, 0%);
    width: 90vw;
  }
}
@media (max-width: 1024px) {
  .b {
    height: 75vh;
    overflow-x: auto;
  }
  .c {
    height: 75vh;
    overflow-x: auto;
  }
  .d {
    height: 70vh;
    overflow-x: auto;
  }
}
@media (max-width: 850px) {
  .x {
    top: 10px;
    left: 40px;
    color: #000000;
  }
  .container {
    top: 0px;
    position: fixed;
    flex-direction: column;
    padding: 40px 10px;
    display: flex;
    height: 100vh;
    left: -400;

    border-top-right-radius: 50px;
    transition: left 2s, border-top-right-radius 3s;

    max-width: 320px;
    overflow-y: auto;
  }

  .catalogue_box2anim {
    left: 0;
    border-top-right-radius: 0px;
  }
  .b {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .component_mas_elem_text {
    margin: 10px 0px 0px 0px;
  }
  /* -- 850 */
  .component_mas {
    display: none;
  }
  .component_mas850 {
    top: 0px;
    position: fixed;
    padding: 40px 10px;
    height: 100vh;
    min-width: 320px;
    max-width: 90%;
    overflow-y: auto;
    z-index: 30;
  }
  .component_name:hover {
    cursor: pointer;
  }
  .x:hover {
    cursor: pointer;
  }
  /* -- */
}
@media (max-width: 600px) {
  .b {
    flex-direction: column;
    flex-wrap: nowrap;
    overflow-x: hidden;
  }
}
