.container {
  top: 80px;
  position: absolute;
  background: white;
  padding: 20px;
  color: rgb(8, 0, 0);
  z-index: 100;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  height: 60vh;
  overflow: auto;
}
.component_name_box {
  display: flex;
  gap: 5px;
  font-size: 14px;
  font-weight: 600;
}
.component_name_b {
  cursor: pointer;
}
.component_box {
  width: 250px;
  margin: 0px 0px 10px 0px;
}
.component_mas_elem_text:hover {
  color: #250ba6;
  font-weight: 600;
}
.component_mas_elem_text {
  font-size: 14px;
}
.a {
  left: -10%;
  flex-direction: column;
  justify-content: start;
  height: 200px;
}
.b {
  left: -10%;
}
.c {
  left: 0%;
}

.d {
  right: 40%;
  transform: translate(0%, 0%);
}
.f {
  right: 20%;
  transform: translate(0%, 0%);
}
.g {
  right: 5%;
}
.o {
  right: -80px;
  flex-direction: column;
  justify-content: start;
  height: 200px;
}
.x {
  display: none;
}
@media (max-width: 850px) {
  .x {
    display: flex;
  }
  .container {
    top: 0px;
    position: fixed;

    padding: 20px 10px;

    height: 100vh; /* Высота контейнера равна высоте видимой области окна */
    min-width: 300px; /* Минимальная ширина контейнера */
    overflow-y: auto; /* Включение вертикальной прокрутки при необходимости */
    overflow-x: hidden; /* Отключение горизонтальной прокрутки */
  }
  .component_mas_elem_text {
    margin: 10px 0px 0px 0px;
  }
}
