.right_goods_box {
  width: 90%;
  height: 100%;
}
.right_goods {
  width: 100%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.swiper_slide {
  background-position: center;
  background-size: cover;

  width: 120px;
  height: 100px;
  margin: 2px 10px 30px 10px;
  padding-bottom: 5px;
}
.swiper_slide:hover {
  box-shadow: 2px 0px 15px #0059a2b8;
}
.link_box {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}
.img_box {
  width: 120px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 90px;
  padding: 0 5px;
}

.text_box {
  text-align: center;
}
.header_auto {
  position: absolute;
  width: 1100px;
  height: 70px;
  top: 0;

  left: 50%;
  transform: translate(-50%, 0);
}
.FaShoppingCart {
  position: absolute;
  top: 22px;
  right: 10px;
  color: rgb(249, 251, 253);
}
.FaShoppingCart:hover {
  cursor: pointer;
  color: rgb(7, 40, 74);
}
.auto {
  position: fixed;
  width: 100vw;
  height: 130vh;
  background-color: transparent;
  top: 0px;
  left: 0px;
  z-index: 2;
}
@media (max-width: 1100px) {
  .header_auto {
    position: absolute;
    width: 1100px;
  }
}
