.right_goods_box {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.swiper_slide {
  background-position: center;
  background-size: cover;

  width: 120px;
  height: 100px;
  margin: 2px 10px 30px 10px;
  padding-bottom: 5px;
}
.swiper_slide:hover {
  box-shadow: 2px 0px 15px #0059a2b8;
}
.link_box {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}
.img_box {
  width: 120px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  height: 90px;
  padding: 0 5px;
}

.text_box {
  text-align: center;
}
